/.kilo
/src/engine/node_modules
/src/engine/.env
/src/engine/logs
/src/ui/node_modules
/src/ui/.next
/src/ui/.env
/logs
/db
/.env
/src/engine/cli/logs
/cli/node_modules
/prices_3years
/prices_5year_180
/prices_5years
/prices_30_5year
/prices_60_5year
